/* Fondo de la página */
.fondo1 {
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: url("../img/fondo1.jpg"); /* esté en static/img/ */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 0;
    overflow: hidden;
}

.fondo1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Caja de contenido */
.content-box-rutas {
    background: #000;
    color: #fff;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
    max-width: 900px;
}

/* Botón personalizado */
.btn-custom {
    background-color: #257edd;
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
    border: none;
}

/* Hover */
.btn-custom:hover {
    background-color: #80ec78;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Active (mientras presionas) */
.btn-custom:active {
    background-color: #2f681a;
    color: #fff;
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

/* Focus (queda marcado después del click) */
.btn-custom:focus {
    background-color: #21341b;
    color: #fff;
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

/* Recuadro negro detrás de texto */
.text-box {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
}
