{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100%; padding-top: 80px; padding-bottom: 2rem;">
        <div class="content-box text-center">
            <h1 class="display-4">Bienvenido a AristoRutas</h1>
            <p class="lead" style="text-align: justify;">Tu guía de confianza para explorar El Salvador.</p>
            <p class="lead" style="text-align: justify;">¡Prepárate para vivir El Salvador de una manera especial con AristoRutas!</p>
            <a href="{% url 'rutas' %}" class="btn btn-warning btn-lg mt-3">Explorar Rutas</a>
        </div>
    </div>
{% endblock %}